<%- include("header"); -%>

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci aperiam error molestiae consectetur quo perspiciatis doloremque, nostrum aliquam laborum at nemo modi explicabo enim quam beatae dicta deserunt, velit cupiditate.</p>

<%- include("footer"); -%>